/* h2{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
} */
body{
    overflow-x: hidden;
}
*{
    box-sizing:border-box ;
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.search-area{
    background-color: antiquewhite; 
    height: 80vh;
    width: 100vw; 
    padding: 5px;
    
}

.search-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.input-row input{
    background: transparent;
    flex: 1;
    border: 0;
    outline:none;
    padding:24px 20px;
    font-size: 20px;
    color:black;

}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
  gap: 8px;
  padding:10px 20px;
}

.errors{
    display: inline-block;
    text-align: center;
    letter-spacing: 3px;
    font-family: ;
}



